<ion-content>
  <div id="background">
    <div id="container">
      <div id="header">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-back-button text="" icon="arrow-back-outline" defaultHref="/wallet"></ion-back-button>
            </ion-col>
            <ion-col>
              <div id="title">E-Wallet</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div id="menu">
        <ion-segment value="card" scrollable="true">
          <ion-segment-button value="card" (click)="showCard()">
            <ion-label>My Card</ion-label>
          </ion-segment-button>
          <ion-segment-button value="analytics" (click)="showAnalytics()">
            <ion-label>Card Analytics</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

     <div id="my_card_section" class="main_content">

        <div id="card_background">
         <div id="card">
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <div class="card_title">
                    {{data.title}}
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div class="card_content">
                    {{data.content}}
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div class="card_footer">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="4">
                          <div class="footer_title">
                            Card Holder
                            <p>{{data.firstname}} {{data.lastname}}</p>
                          </div>
                        </ion-col>

                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

        </div>

         <div id="card_filter">
          <ion-segment value="trans" scrollable="true">
            <ion-segment-button value="trans" (click)="trans()">
              <ion-label>Transactions</ion-label>
            </ion-segment-button>
            <ion-segment-button value="depo" (click)="depo()">
              <ion-label>Deposits</ion-label>
            </ion-segment-button>
            <ion-segment-button value="withdraw" (click)="withdraw()">
              <ion-label>Withdrawals</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>

        <div id="trans_details" class="my_cards_contents">
          <ion-list lines="none">
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_credit">
                      <i class="ri-arrow-left-down-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>


            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_debit">
                      <i class="ri-arrow-right-up-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>


            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_debit">
                      <i class="ri-arrow-right-up-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>


            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_credit">
                      <i class="ri-arrow-left-down-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>


            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_debit">
                      <i class="ri-arrow-right-up-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>

        </div>

        <div id="depo_details" class="my_cards_contents">
          <ion-list lines="none">
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_credit">
                      <i class="ri-arrow-left-down-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum - deposit
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_credit">
                      <i class="ri-arrow-left-down-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

          </ion-list>
        </div>

        <div id="withdraw_details" class="my_cards_contents">
          <ion-list lines="none">

            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_debit">
                      <i class="ri-arrow-right-up-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>


            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_debit">
                      <i class="ri-arrow-right-up-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="1">
                    <div class="icon_debit">
                      <i class="ri-arrow-right-up-line"></i>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <div class="title">
                      Lorem Ipsum
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    <div class="description">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore.
                    </div>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col class="divider">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="10.1" class="date">
                    14th Oct. 2021
                  </ion-col>
                  <ion-col class="expand">
                    Expand
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </div>

      </div>




    </div>
   <div id="card_analytics_section" class="main_content">
      <div id="transactions">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="trans_title">
                Total<br>Credit Amount
              </div>
              <div class="trans_amount" id="credit">
                GHS 33,000
              </div>
            </ion-col>
            <ion-col>
              <div class="trans_title">
                Total<br> Debit Amount
              </div>
              <div class="trans_amount" id="debit">
                GHS 2,409
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div id="trans_breakdown">
        <div id="title">
          Transaction Breakdown
        </div>
        <ion-grid>
          <ion-row class="category" >
            <ion-col class="category_one" size="0.5"></ion-col>
            <ion-col class="category_two" size="2"></ion-col>
            <ion-col class="category_three" size="1.5"></ion-col>
            <ion-col class="category_four" size="4.5"></ion-col>
            <ion-col class="category_five" size="2.5"></ion-col>
            <ion-col class="category_six"  size="1"></ion-col>
          </ion-row>
        </ion-grid>

        <div id="content">
          <ion-grid>
            <ion-row >
              <ion-col size="0.8">
                <div class="indicator category_one"></div>
              </ion-col>
              <ion-col size="7.2">
                <div class="breakdown_title">
                  Lorem Ipsum
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="breakdown_amount">
                  GHS 2,200.89
                </div>
              </ion-col>
            </ion-row>

            <ion-row >
              <ion-col size="0.8">
                <div class="indicator category_two"></div>
              </ion-col>
              <ion-col size="7.2">
                <div class="breakdown_title">
                  Lorem Ipsum
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="breakdown_amount">
                  GHS 4,032.02
                </div>
              </ion-col>
            </ion-row>

            <ion-row >
              <ion-col size="0.8">
                <div class="indicator category_two"></div>
              </ion-col>
              <ion-col size="7.2">
                <div class="breakdown_title">
                  Lorem Ipsum
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="breakdown_amount">
                  GHS 4,032.02
                </div>
              </ion-col>
            </ion-row>

            <ion-row >
              <ion-col size="0.8">
                <div class="indicator category_three"></div>
              </ion-col>
              <ion-col size="7.2">
                <div class="breakdown_title">
                  Lorem Ipsum
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="breakdown_amount">
                  GHS 3,099.00
                </div>
              </ion-col>
            </ion-row>

            <ion-row >
              <ion-col size="0.8">
                <div class="indicator category_four"></div>
              </ion-col>
              <ion-col size="7.2">
                <div class="breakdown_title">
                  Lorem Ipsum
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="breakdown_amount">
                  GHS 40,023.77
                </div>
              </ion-col>
            </ion-row>

            <ion-row >
              <ion-col size="0.8">
                <div class="indicator category_five"></div>
              </ion-col>
              <ion-col size="7.2">
                <div class="breakdown_title">
                  Lorem Ipsum
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="breakdown_amount">
                  GHS 4,974.37
                </div>
              </ion-col>
            </ion-row>

            <ion-row >
              <ion-col size="0.8">
                <div class="indicator category_six"></div>
              </ion-col>
              <ion-col size="7.2">
                <div class="breakdown_title">
                  Lorem Ipsum
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="breakdown_amount">
                  GHS 2,921.00
                </div>
              </ion-col>
            </ion-row>

          </ion-grid>
        </div>
      </div>

      <div id="purchase_category">
        <ion-grid>
          <ion-row>

            <ion-col size="4">
              <div class="icon">
                <i class="ri-empathize-fill"></i>
              </div>

              <div class="purchase_amount">
                GHS 0.00
              </div>

              <div class="purchase_detail">
                Health & Fitness
              </div>
            </ion-col>

            <ion-col size="4">
              <div class="icon">
                <i class="ri-hotel-bed-fill"></i>
              </div>

              <div class="purchase_amount">
                GHS 0.00
              </div>

              <div class="purchase_detail">
                Food & Hospitality
              </div>
            </ion-col>

            <ion-col size="4">
              <div class="icon">
                <i class="ri-shopping-cart-fill"></i>
              </div>

              <div class="purchase_amount">
                GHS 0.00
              </div>

              <div class="purchase_detail">
                Retail
              </div>
            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col size="4">
              <div class="icon">
                <i class="ri-empathize-fill"></i>
              </div>

              <div class="purchase_amount">
                GHS 0.00
              </div>

              <div class="purchase_detail">
                Online Subscriptions
              </div>
            </ion-col>

            <ion-col size="4">
              <div class="icon">
                <i class="ri-hotel-bed-fill"></i>
              </div>

              <div class="purchase_amount">
                GHS 0.00
              </div>

              <div class="purchase_detail">
                Travel & Transport
              </div>
            </ion-col>

            <ion-col size="4">
              <div class="icon">
                <i class="ri-shopping-cart-fill"></i>
              </div>

              <div class="purchase_amount">
                GHS 0.00
              </div>

              <div class="purchase_detail">
                Others
              </div>
            </ion-col>

          </ion-row>

        </ion-grid>
      </div>
    </div>
  </div>

</ion-content>
