<ion-content>
  <div id="background">
    <div class="container">

      <div id="header">
        <div id="title">E-Wallet</div>
      </div>

      <div id="page-titlebar">
        <div id="title">
          My Analytics
        </div>
      </div>
    </div>

      <div id="transaction_content">
        <ion-list lines="none">
          <ion-item>
            <div id="transactions">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div class="trans_title">
                      Total<br>Credit Amount
                    </div>
                    <div class="trans_amount" id="credit">
                      GHS 33,000
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="trans_title">
                      Total<br> Debit Amount
                    </div>
                    <div class="trans_amount" id="debit">
                      GHS 2,409
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-item>

          <ion-item>
            <div id="trans_breakdown">
              <div id="title">
                Transaction Breakdown
              </div>
            <ion-grid>
            <ion-row class="category" >
              <ion-col class="category_one" size="0.5"></ion-col>
              <ion-col class="category_two" size="2"></ion-col>
              <ion-col class="category_three" size="1.5"></ion-col>
              <ion-col class="category_four" size="4.5"></ion-col>
              <ion-col class="category_five" size="2.5"></ion-col>
              <ion-col class="category_six"  size="1"></ion-col>
            </ion-row>
          </ion-grid>

          <div id="content">
            <ion-grid>
              <ion-row >
                <ion-col size="0.8">
                  <div class="indicator category_one"></div>
                </ion-col>
                <ion-col size="7.2">
                  <div class="breakdown_title">
                    Lorem Ipsum
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="breakdown_amount">
                    GHS 2,200.89
                  </div>
                </ion-col>
              </ion-row>

              <ion-row >
                <ion-col size="0.8">
                  <div class="indicator category_two"></div>
                </ion-col>
                <ion-col size="7.2">
                  <div class="breakdown_title">
                    Lorem Ipsum
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="breakdown_amount">
                    GHS 4,032.02
                  </div>
                </ion-col>
              </ion-row>

              <ion-row >
                <ion-col size="0.8">
                  <div class="indicator category_two"></div>
                </ion-col>
                <ion-col size="7.2">
                  <div class="breakdown_title">
                    Lorem Ipsum
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="breakdown_amount">
                    GHS 4,032.02
                  </div>
                </ion-col>
              </ion-row>

              <ion-row >
                <ion-col size="0.8">
                  <div class="indicator category_three"></div>
                </ion-col>
                <ion-col size="7.2">
                  <div class="breakdown_title">
                    Lorem Ipsum
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="breakdown_amount">
                    GHS 3,099.00
                  </div>
                </ion-col>
              </ion-row>

              <ion-row >
                <ion-col size="0.8">
                  <div class="indicator category_four"></div>
                </ion-col>
                <ion-col size="7.2">
                  <div class="breakdown_title">
                    Lorem Ipsum
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="breakdown_amount">
                    GHS 40,023.77
                  </div>
                </ion-col>
              </ion-row>

              <ion-row >
                <ion-col size="0.8">
                  <div class="indicator category_five"></div>
                </ion-col>
                <ion-col size="7.2">
                  <div class="breakdown_title">
                    Lorem Ipsum
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="breakdown_amount">
                    GHS 4,974.37
                  </div>
                </ion-col>
              </ion-row>

              <ion-row >
                <ion-col size="0.8">
                  <div class="indicator category_six"></div>
                </ion-col>
                <ion-col size="7.2">
                  <div class="breakdown_title">
                    Lorem Ipsum
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="breakdown_amount">
                    GHS 2,921.00
                  </div>
                </ion-col>
              </ion-row>

            </ion-grid>
          </div>
        </div>
          </ion-item>

          <ion-item>
            <div id="purchase_category">
              <ion-grid>
                <ion-row>

                  <ion-col size="4">
                    <div class="icon">
                      <i class="ri-empathize-fill"></i>
                    </div>

                    <div class="purchase_amount">
                      GHS 0.00
                    </div>

                    <div class="purchase_detail">
                      Health & Fitness
                    </div>
                  </ion-col>

                  <ion-col size="4">
                    <div class="icon">
                      <i class="ri-hotel-bed-fill"></i>
                    </div>

                    <div class="purchase_amount">
                      GHS 0.00
                    </div>

                    <div class="purchase_detail">
                      Food & Hospitality
                    </div>
                  </ion-col>

                  <ion-col size="4">
                    <div class="icon">
                      <i class="ri-shopping-cart-fill"></i>
                    </div>

                    <div class="purchase_amount">
                      GHS 0.00
                    </div>

                    <div class="purchase_detail">
                      Retail
                    </div>
                  </ion-col>

                </ion-row>

                <ion-row>

                  <ion-col size="4">
                    <div class="icon">
                      <i class="ri-empathize-fill"></i>
                    </div>

                    <div class="purchase_amount">
                      GHS 0.00
                    </div>

                    <div class="purchase_detail">
                      Online Subscriptions
                    </div>
                  </ion-col>

                  <ion-col size="4">
                    <div class="icon">
                      <i class="ri-hotel-bed-fill"></i>
                    </div>

                    <div class="purchase_amount">
                      GHS 0.00
                    </div>

                    <div class="purchase_detail">
                      Travel & Transport
                    </div>
                  </ion-col>

                  <ion-col size="4">
                    <div class="icon">
                      <i class="ri-shopping-cart-fill"></i>
                    </div>

                    <div class="purchase_amount">
                      GHS 0.00
                    </div>

                    <div class="purchase_detail">
                      Others
                    </div>
                  </ion-col>

                </ion-row>

              </ion-grid>
            </div>
          </ion-item>

          <ion-item>
            <ion-grid>
              <div id="personality">
              <ion-row>
                <ion-col>
                  <div id="image">
                    <img src="../../assets/icon/travel_img@2x.png"/>
                   </div>
                </ion-col>
                <ion-col>
                  <div id="persona">
                    <div id="name">
                      Johnny Walker
                    </div>
                    <div id="description">
                      Based on your high transaction on travel, this is your persona for the month!
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              </div>
            </ion-grid>
          </ion-item>

        </ion-list>

      </div>


      <!-- footer -->
    <div id="footer">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div id="wallets">
              <a routerLink="/wallet" routerLinkActive="active"><i class="ri-wallet-line"></i></a>
            </div>
          </ion-col>

          <ion-col>
            <div id="analytics">
              <a routerLink="/analytics" routerLinkActive="active"><i class="ri-donut-chart-line"></i></a>
            </div>
          </ion-col>

          <ion-col>
            <div id="notifications">
              <a routerLink="/notifications" routerLinkActive="active"><i class="ri-notification-4-line"></i></a>
            </div>
          </ion-col>

          <ion-col>
            <div id="settings">
              <a routerLink="/settings" routerLinkActive="active"><i class="ri-user-settings-line"></i></a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>



  </div>
</ion-content>
