<ion-content>
  <div id="background">
    <div id="container">

      <div id="header">
        <div id="title">E-Wallet</div>
      </div>

      <div id="page-titlebar">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div id="title">
                My Wallet
              </div>
            </ion-col>
            <ion-col id="search" (click)="search()">
              <div>
                <div id="search-active">
                  <ion-input placeholder="Search"><i class="ri-search-2-line"></i></ion-input>
                </div>
              </div>
                <div id="search-bar" (click)="close()">
                  <i class="ri-search-2-line"></i>
                </div>
                <div id="close-search" >
                  <i class="ri-close-circle-fill" (click)="expand()"></i>
                </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


      <div id="menu-segment">
        <ion-segment value="banking" scrollable="true">

          <ion-segment-button value="banking" (click)="showBanking()">
            <ion-label>Banking</ion-label>
          </ion-segment-button>
          <ion-segment-button value="shopping" (click)="showShopping()">
            <ion-label>Shopping</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Travel" (click)="showTravel()">
            <ion-label>Travel</ion-label>
          </ion-segment-button>
          <ion-segment-button value="Others" (click)="showOthers()">
            <ion-label>Others</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <div id="travel-container" class="cards-container">
        <ion-list lines="none" *ngFor="let item of travel; let idx= index" >
          <ion-item *ngIf="item.status" (click)="select(idx, item.category)">
          <ion-grid >
            <ion-row>
              <ion-col>
                <div class="card-title">
                  <!-- <img src="{{item.logo}}" alt=""/> -->
                  {{item.title}}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="card-content">
                  {{item.content}}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div class="card-footer">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="5">
                        <div class="footer-title">
                          Card Holder
                          <p>{{item.firstname}} {{item.lastname}}</p>
                        </div>
                      </ion-col>

                      <ion-col size="5">
                        <div class="footer-title">
                          Tier
                          <p>{{item.tier}}</p>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        </ion-list>
      </div>

      <div id="shopping-container" class="cards-container" >
        <ion-list lines="none" *ngFor="let item of shop; let idx= index" >
          <ion-item *ngIf="item.status" (click)="select(idx, item.category)">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="card-title">
                    <!-- <img src="{{item.logo}}" /> -->
                    {{item.title}}
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div class="card-content">
                    {{item.content}}
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div class="card-footer">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="5">
                          <div class="footer-title">
                            Card Holder
                            <p>{{item.firstname}} {{item.lastname}}</p>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>

      <div id="banking-container" class="cards-container">
        <ion-list lines="none" *ngFor="let item of bank; let idx= index" >
          <ion-item *ngIf="item.status" (click)="select(idx, item.category)">
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <div class="card-title">
                    <!-- <img src="{{item.logo}}" /> -->
                    {{item.title}}
                  </div>
                </ion-col>
                <ion-col class="ion-align-self-end">
                  <div class="card-service">
                    <img src="{{item.service}}" />
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div class="card-content">
                    {{item.masked}}
                  </div>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <div class="card-footer">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="4">
                          <div class="footer-title">
                            Card Holder
                            <p>{{item.firstname}} {{item.lastname}}</p>
                          </div>
                        </ion-col>
                        <ion-col size="4">
                          <div class="footer-title">
                            Expiry Date
                            <p>{{item.expiry}}</p>
                          </div>
                        </ion-col>
                        <ion-col size="4">
                          <div class="footer-title">
                            CVV
                            <p>{{item.cvvMasked}}</p>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>

<div id="others-container" class="cards-container">
        <!-- hello-others -->
      </div>

      <!-- footer -->
    <div id="footer-container">
      <div id="footer">
        <ion-grid>
          <ion-row>
            <ion-col size="3" class="ion-align-self-center">
              <div id="wallets">
                <a routerLink="/wallet" routerLinkActive="active"><i class="ri-wallet-line"></i></a>
              </div>
            </ion-col>

            <ion-col size="3" class="ion-align-self-center">
              <div id="analytics">
                <a routerLink="/analytics" routerLinkActive="active"><i class="ri-donut-chart-line"></i></a>
              </div>
            </ion-col>

            <ion-col size="3" class="ion-align-self-center">
              <div id="notifications">
                <a routerLink="/notifications" routerLinkActive="active"><i class="ri-notification-4-line"></i></a>
              </div>
            </ion-col>

            <ion-col size="3" class="ion-align-self-center">
              <div id="settings">
                <a routerLink="/settings" routerLinkActive="active"><i class="ri-user-settings-line"></i></a>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>



    </div>


  </div>
</ion-content>
